.application-fill { 
  fill: #112299; 
}

.foreground-fill { 
  fill: fb-white; 
}

.background-fill {
  fill: fb-white; 
}

#button_play #text {
  text-buffer: "PLAY";
}

#button_ai #text {
  text-buffer: "AI";
}